<div class="cloud floating hidden-sm hidden-xs">
    <img src="img/cloud.png" alt="Beavr Cloud">
</div>

<div class="cloud pos1 fliped floating hidden-xs">
    <img src="img/cloud.png" alt="Beavr Cloud">
</div>

<div class="cloud pos2 floating hidden-xs">
    <img src="img/cloud.png" alt="Beavr Cloud">
</div>

<div class="cloud pos3 fliped floating hidden-xs">
    <img src="img/cloud.png" alt="Beavr Cloud">
</div>

<div id="wrapper" class="thank-you">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h2 class="mb-0">Thank you! We'll be in touch!</h2>

                <div class="col-sm-12 align-center mt-30 mb-20">
                    <ul class="social-network social-circle">
                        <li><a href="https://facebook.com/YOUR-FACEBOOK-PAGE" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/YOUR-TWITTER-HANDLE" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/YOUR-LINKEDIN-WHATEVER" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="mailto:your@email.com" class="icoFacebook" title="Email"><i class="fa fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
